* {
    user-select: none;box-sizing: border-box;
}

.btn-switch *,
.btn-switch *:before,
.btn-switch *:after {
    box-sizing: border-box;
}

.btn-switch {
    display: inline-block;
    position: relative;
    line-height: 50px;
    height: 56px;
    width: 188px;
    border-radius: 25px;
    background: linear-gradient( WhiteSmoke, DarkGray);
    box-shadow: 0 0 5px rgba( 0, 0, 0, .4),
    1px 1px 8px rgba( 0, 0, 0, .3);
    margin: 0 auto;
}

.btn-switch input {
    display: none
}

.btn-switch label {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 170px;
    height: 44px;
    line-height: 50px;
    border-radius: 20px;
    background: rgba(144, 238, 144, .8);

    box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, .4),
    0 1px 0 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

.btn-switch span::before {
    content: " ";
    position: absolute;
    width: 90px;
    height: 46px;
    background: linear-gradient( #F7F2F6, #B2AC9E);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3),
    0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    left: -2px;
    top: -1px;
}

.btn-switch span::after {
    content: " ";
    position: absolute;
    width: 66px;
    height: 24px;
    left: 10px;
    top: 10px;
    border-radius: 12px;
    background: linear-gradient( #CBC7BC, #D2CBC3);
}

.btn-switch label::before {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .7),
    0 1px 0 rgba(255, 255, 255, .8);
    position: absolute;
    content: 'high';
    color: dimgrey;
    left: auto;
    right: 10%;
}

.btn-switch input:checked+label {
    background: rgba(239, 46, 87, .8);
}

.btn-switch input:checked~label span::before {
    right: -2px;
    left: auto;
}

.btn-switch input:checked~label span::after {
    right: 10px;
    left: auto;
}

.btn-switch input:checked~label::before {
    content: 'low';
    color: white;
    right: auto;
    left: 10%;
}

input[type="button"]{align-items:flex-start;background-color:rgb(92, 184, 92);border:solid 1px rgb(76, 174, 76);border-radius:10px 10px;margin:5px 0px;padding:6px 12px;box-sizing:border-box;color:rgb(255, 255, 255);cursor:pointer;display:inline-block;font-size:14px;height:34px;line-height:20px;text-align:center;text-shadow:none;touch-action:manipulation;user-select:none;}
input[type="button"]:hover{background-color: #449d44;border-color: #398439;}
input[type="button"]:active{background-color: #3D7A34;border-color: #398439;}